.btn {
	font-family: 'Montserrat';
	font-weight: 500;
	font-size: 1.6rem;
	padding: 0.6rem 2.4rem;
	border: 2px solid $color-primary-dark;
	transition: 0.3s all;
	-webkit-transition: 0.3s all;
	-moz-transition: 0.3s all;
	-ms-transition: 0.3s all;
	-o-transition: 0.3s all;

	&--pill {
		border-radius: 2rem;
		-webkit-border-radius: 2rem;
		-moz-border-radius: 2rem;
		-ms-border-radius: 2rem;
		-o-border-radius: 2rem;
	}

	&--bordered {
		border-width: 5px;
	}

	&--filled {
		background-color: $color-primary;
		color: white;
	}

	&:hover {
		color: white;
		background-color: $color-primary-dark;
	}
}
