$color-primary-light: #ff8b79;
$color-primary: #ff755f;
$color-primary-dark: #fa5a40;

$color-bg-light-1: #fdf1ef;
$color-bg-light-2: #fda597;

$text-color-light: #838282;
$text-color: #676767;
$text-color-dark: #555454;
